importFrom(utils, unzip)
importFrom(data.table, data.table)
importFrom(utils, download.file)
export(get_nsch_index)
export(get_year)
export(na_tag_map)
export(parse_do)
export(read_dta)
export(Stata2csv_year)
export(check_factor_levels)
